/* COLOR PALLET:
#EBE3C1
#B2C9AB
#92B6B1
#788AA3
#666A86
*/

.App{
  min-height: 100vh;
  background-color: #B2C9AB;
  font-family: 'Poppins', sans-serif;
  color: #666A86;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: #62938C;
  border: none;
  padding: 10px 20px;
  color: white;
}

.search-button:hover{
  background: #496E69;
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

